# API keys for closed-source LLMs
OPENAI_API_KEY=""
CLAUDE_API_KEY=""

# Huggingface related information (can be used to set before downloading models)
HF_TOKEN=""
HF_HOME=""

# Biomni-specific arguments
BIOMNI_DATA_PATH=""